<!DOCTYPE html>
<html>
<head>
	<link href="../css/fuga.css" rel="stylesheet" type="text/css" >
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="main">
		<div class="title">
			ホーム
		</div>
		<div class="tweet_area">
			<img src="/image/sample.jpg" class="icon">
			<div class="tweet_border">
				<textarea placeholder="今どうしてる？" class="contents"></textarea>
			</div>
			<button tyoe="submit" class="tweetbutton">ツイートする</button>
		</div>
		<div>
			<div  class="timeline">
	    		<img src="/image/sample.jpg" class="icon">
				<a href="/hoge">にゃんこユーザ01</a>
				<span>@nyankouser01</span>
				<span>1時間</span>
				<span class="tweet">内容<br>aaaa<br>ssss<br>hhhh</span>
			</div>
		 </div>
	</div>
</body>
</html>