<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link href="../css/fuga.css" rel="stylesheet" type="text/css" >
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
	<body>
		<div class="main">
			<div class="title">
				ホーム
			</div>
			<div class="tweet_area">
				<img src="/image/sample.jpg" class="icon">
				<div class="tweet_border">
					<!--ツイート投稿部分-->
					<!--controllerの/user/tweetにpostメソッドでform内の情報を送信-->
					<form th:action="@{/user/tweet}" th:object="${tweet}" th:method="post">
						<input type="text" name="body" placeholder="今どうしてる？" class="contents" />
						<button type="submit" class="tweetbutton">ツイートする</button>
					</form>
				</div>
			</div>
			<div>
				<!--ツイートの表示部分th:eachでdiv class"timeline"を繰り返し表示-->
				<div  class="timeline" th:each="tweet:${tweets}">

					<!--投稿時間の表示-->
					<span th:text="${tweet.created_at}">1時間</span>
					<!--ツイート内容の表示-->
					<span th:text="${tweet.body}" class="tweet">内容</span>
				</div>
			 </div>
		</div>
	</body>
</html>