<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="../css/fuga.css" rel="stylesheet" type="text/css" >
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="main">
		<div class="title">
			ホーム
		</div>
		<div class="tweet_area">
			<img src="/image/sample.jpg" class="icon">
			<div class="tweet_border">
				<form th;action="{/user/tweet}"th:object="${tweet}"th:method="post">
				<input type="text" placeholder="今どうしてる？" class="contents">
				</input>
			</div>
			</form>
			<button tyoe="submit" class="tweetbutton">ツイートする</button>
		</div>
		<div>
			<div  class="timeline" th:each="tweet : ${tweets}">
	    		<!--<img src="/image/sample.jpg" class="icon">-->
				<!--<a href="/hoge" th:text="${message[0].name}">-->
				<a href="/hoge" th:text="${tweet.user_id}"></a>>にゃんこユーザ01</a>
				<span>@nyankouser01</span>
				<span th:text="${tweet.created_at}">1時間</span>
				<span class="tweet" th:text"${tweet.body}">内容<br>aaaa<br>ssss<br>hhhh</span>
			</div>
		 </div>
	</div>
</body>
</html>